/* =============
    Section 5
============= */

#section-5{

    display: grid;
    grid-template-columns: 3, 1fr;
    grid-template-areas: ". section-5 .";

    #section-5-gallery{
        grid-area: section-5;
    }
}